:root {
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-sans: "Calibre", "Inter", "SF Pro Text", -apple-system, sans-serif;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --line-height: 1.3;
  --dark-navy: #0a192f;
  --navy: #112240;
  --light-navy: #233554;
  --lightest-navy: #303c55;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
}

@media (max-width: 768px) {
  :root {
    --fz-heading: 28px;
    --nav-height: 70px;
  }
}
